#set($ctx.result.s3Prefix = $util.urlEncode($ctx.result.confName))
#set($ctx.result.logPath = $util.urlEncode($ctx.result.logPath))

#foreach( $param in $ctx.result.tags )
    #set($param.key = $util.urlEncode($param.key))    
    #set($param.value = $util.urlEncode($param.value))
#end

$util.toJson($ctx.result)