#foreach( $param in $ctx.args.tags )
    #set($param.key = $util.urlDecode($param.key))
    #if( $param.key.length() > 250)
        $util.error("Value for Tag Key field cannot exceed 250 characters.")
    #end
    #set($param.value = $util.urlDecode($param.value))
    #if( $param.value.length() > 250)
        $util.error("Value for Tag Value field cannot exceed 250 characters.")
    #end
#end

{"version": "2017-02-28", "operation": "Invoke", "payload": $util.toJson($ctx)}