[INPUT]
    Name tail
    # log file location
    Path $LOGHUB_CONFIG_PATH
    #Lambda will use Path_key to get file name
    Path_Key file_name
    Tag  $LOGHUB_CONFIG_TAG
    Read_from_head true
    #use this as checkpoint
    DB   $LOGHUB_CHECKPOINT
    DB.locking  True
    DB.Sync Normal
    # https://docs.fluentbit.io/manual/administration/backpressure#mem_buf_limit
    Mem_Buf_Limit 30M
    #parser
    Multiline on
    Parser_Firstline $LOGHUB_PARSER
