#foreach( $subAccountLink in $ctx.result.subAccountLinks )
    #set($subAccountLink.agentInstallDoc = $util.urlEncode($subAccountLink.agentInstallDoc))
    #set($subAccountLink.agentConfDoc = $util.urlEncode($subAccountLink.agentConfDoc))
    
    #foreach( $param in $subAccountLink.tags )
        #set($param.key = $util.urlEncode($param.key))    
        #set($param.value = $util.urlEncode($param.value))
    #end
#end

$util.toJson($ctx.result)
