#foreach( $appLogIngestion in $ctx.result.appLogIngestions )
    #set($appLogIngestion.confName = $util.urlEncode($appLogIngestion.confName))
    #set($appLogIngestion.logPath = $util.urlEncode($appLogIngestion.logPath))

    #foreach( $param in $appLogIngestion.tags )
        #set($param.key = $util.urlEncode($param.key))    
        #set($param.value = $util.urlEncode($param.value))
    #end    

#end

$util.toJson($ctx.result)