boto3>=1.26.109
botocore
s3transfer
moto>=4.1.7
pyparsing
pytest
pytest-cov
pyyaml
docker
openapi-spec-validator
pytest-httpserver
numpy
pyarrow
binaryornot
certifi
chardet
charset_normalizer
idna
prettytable
requests
urllib3<1.27,>=1.25.4
wcwidth
maxminddb
user_agents
func_timeout