#set($ctx.result.proxyError = $util.urlEncode($ctx.result.proxyError))
#set($ctx.result.alarmError = $util.urlEncode($ctx.result.alarmError))

#foreach( $param in $ctx.result.tags )
    #set($param.key = $util.urlEncode($param.key))    
    #set($param.value = $util.urlEncode($param.value))
#end

$util.toJson($ctx.result)