$util.validate($util.matches("i-[a-z0-9]+$", $ctx.args.instanceId), "Invalid instance ID")
$util.validate($util.matches("^\d{12}$", $util.defaultIfNullOrEmpty($ctx.args.accountId, '123456789012')), "Invalid Account ID")
$util.validate($util.matches("^(?!(.*--))(?!(.*-$))[a-z0-9]([a-z0-9-]){0,62}$", $util.defaultIfNullOrEmpty($ctx.args.region,'us-west-2')), "Invalid Region Name")

{"version": "2017-02-28", "operation": "Invoke", "payload": $util.toJson($ctx)}