        {
            "Effect": "Allow",
            "Principal": {
                "AWS": "$ACCOUNT_ID"
            },
            "Action": "sts:AssumeRole",
            "Condition": {
            }
        }